#dig1{
    text-decoration: underline;
    font-size: 40px;
}
#dig2{
    text-decoration: underline;
    font-size: 40px;
    margin-left: 40px;
}
#result{
    text-decoration: underline;
    font-size: 40px;
}
#resul{
    text-decoration: underline;
    font-size: 40px;
}